:root {

    --background-color: rgba(0, 0, 0, 70%)

}



body, html {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    font-family: "Ysabeau SC", 'Courier New', Courier, monospace;
}

body {
    background-image: url(../Images/background.jpg);
    background-size: cover;

}

header {
    background-color: var(--background-color);
    width: 90%;
    max-width: 340px;
    max-height: 250px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
    text-align: justify;
    padding: 20px;
    max-height: 300px;
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 340px;
    height: 60vh;
}

.quote-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    color: white;
    background-color: var(--background-color);
    transition: 2s;
}

.quote-container p {
    color: white;
    font-size: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main button {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    height: 10%;
    background-color: var(--background-color);
    border: 1px solid white;
    transition: 0.2s;
}

main button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}

footer {
    color: white;
    max-height: 60px;
    flex: 0.2;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hide {
    transition: 0.6s;
    display: none !important;
}
